* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
header{
    background-color: white;
    padding: 30px;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
}
.menu_logo{
    color: rgb(8, 8, 57);
    font-weight: bolder;
}
.menu_list{
    display: flex;
    gap: 10px;
    list-style: none;
    color: rgb(8, 8, 57);
    font-weight: bold;
}
.menu_button{
    background-color: rgb(8, 8, 57);
    color: white;
    padding: 6px;
}

main{
    display: flex;
    background-color: rgb(8, 8, 57);
    color: white;
    gap: 50px;
}
.main_tittle{
    font-size: medium;
}
.main_test1{

}
.main_test2{

}


footer{
    background-color: rgb(8, 8, 57);
    color: white;
}
.menu_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    list-style: none;
}
.logo_footer{
    font-weight: bolder;
}
.list_footer{
    color: darkgray;
}